/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #0000FF;  /* cor de fundo do site */
  color: yellow;        /* cor do texto */
}

header {
  background: #FF0000;
  color: #006400;
  padding: 20px;
  text-align: center;
}

nav {
  background: #8B0000;
  padding: 10px;
  display: flex;
  gap: 15px;
}

nav a {
  color: 	#006400;
  text-decoration: none;
  font-weight: bold;
}

.container {
  padding: 20px;
}

footer {
  background: #800000;
  color: #00FF00;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
